/*
    icon
    Created by syl on 16/11/2.
*/


/*icon star*/

[class^="gicon"],
[class*=" gicon"] {
	vertical-align: middle;
	display: inline-block;
	text-decoration: inherit;
	font-style: normal;
	font-weight: normal;
    background-size: cover;
	background-position: 0 0;
	background-repeat: no-repeat;
}



/*icon end*/


@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?v=1.0.0'); /* IE9*/
  src: url('../fonts/iconfont.eot?v=1.0.0#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?v=1.0.0') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?v=1.0.0') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?v=1.0.0#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gicon-borrowing:before { content: "\e604"; }

.icon-gicon-assistant:before { content: "\e605"; }

.icon-gicon-college:before { content: "\e609"; }

.icon-gicon-group-stage:before { content: "\e60b"; }

.icon-gicon-sms:before { content: "\e60c"; }

.icon-gicon-word:before { content: "\e60d"; }

.icon-gicon-personal-center:before { content: "\e60e"; }

.icon-gicon-message:before { content: "\e60f"; }

.icon-gicon-foot-friend:before { content: "\e610"; }

.icon-gicon-foot-order:before { content: "\e612"; }

.icon-gicon-foot-home:before { content: "\e613"; }

.icon-gicon-slide-about:before { content: "\e615"; }

.icon-gicon-slide-set:before { content: "\e616"; }

.icon-gicon-slide-wallet:before { content: "\e617"; }

.icon-gicon-slide-integral:before { content: "\e618"; }

.icon-gicon-slide-pushoff:before { content: "\e619"; }

.icon-gicon-slide-task:before { content: "\e61a"; }

.icon-gicon-slide-task1:before { content: "\e61c"; }

.icon-gicon-slide-qrcode:before { content: "\e61d"; }

.icon-gicon-gender-woman:before { content: "\e61e"; }

.icon-gicon-gender-man:before { content: "\e61f"; }

.icon-gicon-legalize-guide:before { content: "\e621"; }

.icon-gicon-legalize-name:before { content: "\e622"; }

.icon-gicon-form-phone:before { content: "\e623"; }

.icon-gicon-form-password:before { content: "\e624"; }

.icon-gicon-form-openeyes:before { content: "\e625"; }

.icon-gicon-form-closeeyes:before { content: "\e626"; }

.icon-gicon-grade-v1:before { content: "\e627"; }

.icon-gicon-logo-blue:before { content: "\e628"; }

.icon-gicon-people:before { content: "\e629"; }

.icon-gicon-filter:before { content: "\e62a"; }

.icon-gicon-filter1:before { content: "\e62b"; }

.icon-gicon-lecturer:before { content: "\e62c"; }

.icon-gicon-music:before { content: "\e62e"; }

.icon-gicon-sms-template:before { content: "\e62f"; }

.icon-gicon-sms-add:before { content: "\e630"; }

.icon-gicon-public-up:before { content: "\e632"; }

.icon-gicon-public-down:before { content: "\e633"; }

.icon-gicon-public-next:before { content: "\e634"; }

.icon-gicon-public-return:before { content: "\e635"; }

.icon-gicon-public-share:before { content: "\e636"; }

.icon-gicon-public-error:before { content: "\e638"; }

.icon-gicon-public-search:before { content: "\e639"; }

.icon-gicon-public-code:before { content: "\e63a"; }

.icon-gicon-public-collect:before { content: "\e63b"; }

.icon-gicon-public-collect-ed:before { content: "\e63c"; }

.icon-gicon-public-forwarding:before { content: "\e63d"; }

.icon-gicon-public-phiz:before { content: "\e63f"; }

.icon-gicon-public-reward:before { content: "\e640"; }

.icon-gicon-public-pyq:before { content: "\e644"; }

.icon-gicon-public-wx:before { content: "\e645"; }

.icon-gicon-public-wb:before { content: "\e646"; }

.icon-gicon-public-qq:before { content: "\e647"; }

.icon-qq:before { content: "\e648"; }

.icon-gicon-income:before { content: "\e649"; }

.icon-gicon-income-t3:before { content: "\e64a"; }

.icon-gicon-income-t4:before { content: "\e64b"; }

.icon-gicon-income-t5:before { content: "\e64c"; }

.icon-gicon-income-t6:before { content: "\e64d"; }

.icon-gicon-income-faq:before { content: "\e64e"; }

.icon-gicon-order-tel:before { content: "\e64f"; }

.icon-gicon-order-chat:before { content: "\e650"; }

.icon-gicon-locate:before { content: "\e651"; }

.icon-gicon-like:before { content: "\e652"; }

.icon-gicon-interest:before { content: "\e653"; }

.icon-gicon-camera:before { content: "\e654"; }

.icon-gicon-list:before { content: "\e656"; }

.icon-gicon-send:before { content: "\e657"; }

.icon-gicon-travel:before { content: "\e658"; }

.icon-gicon-room:before { content: "\e659"; }

.icon-gicon-evaluation:before { content: "\e65a"; }

.icon-gicon-warning:before { content: "\e65b"; }

.icon-gicon-rollcall:before { content: "\e65c"; }

.icon-gicon-write:before { content: "\e65d"; }

.icon-gicon-no:before { content: "\e65e"; }

.icon-gicon-check:before { content: "\e65f"; }

.icon-gicon-addgroup:before { content: "\e660"; }

.icon-gicon-addvisitors:before { content: "\e661"; }

.icon-gicon-legalize-unauthorized:before { content: "\e662"; }