<style>
    .menu_components{
        width:100%;
        height:100%;
        color:#262626;
        text-align:center;
    }
    .menu_components .menu_item{
        float:left;
        vertical-align:middle;
    }
    .menu_components .text_active{
        color:#06aafc;
    }
</style>

<div class="menu_components">
    <div class="menu_item">
        <div class="menu_icon">
            <div class="menu_item_li gicon-foot-home action_index"></div>
        </div>
        <div class="menu_text">首页</div>
    </div>
    <div class="menu_item">
        <div class="menu_icon">
            <div class="menu_item_li gicon-foot-order action_order"></div>
        </div>
        <div class="menu_text">订单</div>
    </div>
    <div class="menu_item">
        <div class="menu_icon">
            <div class="menu_item_li gicon-foot-friend action_friends"></div>
        </div>
        <div class="menu_text">朋友圈</div>
    </div>
</div>