<style>
    .content_components{
        width:100%;
        height:100%;
    }
    .content_components #index_bg{
        width:100%;
        height:100%;
    }
    .content_components #index_tools{
        width:100%;
        height:100%;
        position:relative;
        background-color:#ccc;
        overflow:hidden;
    }
    .content_components .tools_container{
        position:relative;
        overflow:hidden;
        background-image:url('images/app/index/tools_bg.png');
        background-size: contain;
	    background-position: center center;
	    background-repeat: no-repeat;
    }
    .content_components .tools_item{
        position:absolute;
    }
    .content_components .tools_icon{
        text-align:center;
    }
    .content_components .tools_text{
        text-align:center;
        color:#fff;
        font-size:0.14rem;
        text-align:center;
    }
    .icon_circle{
        border:1px solid #FFF;
        text-align:center;
        border-radius:50%;
        color:#fff;
        font-size:0.24rem;
    }
</style>
<div class="content_components">
    <div id="index_bg"></div>
    <div id="index_tools">
        <div class="tools_container">
            <div class="tools_item date_time_set">
                <div class="tools_icon">
                    <div class="icon_circle">
                        <span class="iconfont icon-gicon-group-stage"></span>
                    </div>
                </div>
                <div class="tools_text">设定团期</div>
            </div>

            <div class="tools_item journey_assistant">
                <div class="tools_icon">
                    <div class="icon_circle">
                        <span class="iconfont icon-gicon-assistant"></span>
                    </div>
                </div>
                <div class="tools_text">行程助手</div>
            </div>

            <div class="tools_item credit">
                <div class="tools_icon">
                    <div class="icon_circle">
                        <span class="iconfont icon-gicon-borrowing"></span>
                    </div>
                </div>
                <div class="tools_text">导游借贷</div>
            </div>

            <div class="tools_item message_info">
                <div class="tools_icon">
                    <div class="icon_circle">
                        <span class="iconfont icon-gicon-sms"></span>
                    </div>
                </div>
                <div class="tools_text">免费短信</div>
            </div>

            <div class="tools_item guide_commentary">
                <div class="tools_icon">
                    <div class="icon_circle">
                        <span class="iconfont icon-gicon-word"></span>
                    </div>
                </div>
                <div class="tools_text">导游词</div>
            </div>

            <div class="tools_item guide_college">
                <div class="tools_icon">
                    <div class="icon_circle">
                        <span class="iconfont icon-gicon-college"></span>
                    </div>
                </div>
                <div class="tools_text">导游学院</div>
            </div>
        </div>
    </div>
</div>