<style>
    .menu_components{
        width:100%;
        height:100%;
        color:#262626;
        text-align:center;
    }
    .menu_components .menu_item{
        float:left;
        vertical-align:middle;
    }
    .menu_components .menu_text{
        font-size: 0.12rem;
    }
    .menu_components .active{
        color:#06aafc;
    }
    .menu_components .menu_icon{
        font-size:0.22rem;
        text-align:center;
    }

</style>

<div class="menu_components">
    <div class="menu_item">
        <div class="menu_icon">
            <span class="iconfont icon-gicon-foot-home action_index"></span>
        </div>
        <div class="menu_text">首页</div>
    </div>
    <div class="menu_item">
        <div class="menu_icon">
            <span class="iconfont icon-gicon-foot-order action_order"></span>
        </div>
        <div class="menu_text">订单</div>
    </div>
    <div class="menu_item">
        <div class="menu_icon">
            <span class="iconfont icon-gicon-foot-friend action_friends"></span>
        </div>
        <div class="menu_text">朋友圈</div>
    </div>
</div>