<style type="text/css">
.manual_dateil {
    margin-top: 0.6rem;
    width: 100%;
    background-color: #fff;
    padding: 0.12rem 0.1rem;
    font-size: 0.14rem;
}
li{
    display: inline-block;
    width: 31%;
    padding: 0.01rem;
}
</style>
<!-- 容器 -->
<div class="manual_container .login_container">
    <!-- 头部 -->
    <div class="manual_header_wrap"></div>
    <div class="manual_header">
        <i class="manual_close gicon-public-xx"></i>
        <h2>导游词</h2>
    </div>
    <!-- 内容部分 -->
    <div class="manual_dateil">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
</div>
