<!-- Created by egg on 16/11/08. -->
<style type="text/css">
.manual_dateil {
    margin-top: 0.6rem;
    width: 100%;
    background-color: #fff;
    padding: 0 0.1rem;
    font-size: 0.14rem;
}

.manual_dateil h3{
    font-size: 0.16rem;
    text-align: center;
    padding: 0.1rem 0 0.04rem;
}
.manual_dateil p{
    font-size: 0.14rem;
    padding: 0.02rem 0;
}
.manual_dateil span{
    display: block;
    font-size: 0.14rem;
    text-align: center;
    font-weight: bolder;
    color: #FD8E22;
}
.manual_dateil .img_wrap{
    padding:0.02rem 0;
}
.manual_dateil img{
    width: 100%;
}
</style>
<!-- 容器 -->
<div class="manual_container .login_container">
    <!-- 头部 -->
    <div class="manual_header_wrap"></div>
    <div class="manual_header">
        <i class="manual_close gicon-public-return-blue"></i>
        <h2>导游词</h2>
        <span class=" gicon-public-share-blue"></span>
    </div>
    <!-- 内容部分 -->
    <div class="manual_dateil">
        <h3>千岛湖</h3>
        <span>AAAAA景区</span>
        <div class="img_wrap"><img src="http://i1.piimg.com/1949/9bac98082764e65a.jpg"></div>
        <p>千岛湖湖中有1078个岛屿，姿态各异，是两江一湖（富春江、新安江、千岛湖）国家级重点...景名胜区的主要组成部分。</p>
        <p>它地处长江三角洲的腹地，是上海经济区和我国东南一流风景旅游城市杭州的“后花园”。千岛湖所在的淳安县北接临安县、南接常山县、西南与开化县、衢州市为邻，东南与桐庐和建德二县市接壤，西北与安徽省交界。千岛湖距杭州129公里，距黄山140公里，是镶嵌在杭州——千岛湖——黄山名城、名水、名山这条黄金旅游线上的一颗灿烂的明珠。它与西湖、黄山、太湖、金华双龙洞、武夷山等国家级风景区构成了一个有机的旅游网络，千岛湖处于这一网络的中心部位，从上......是罕见的城中次生湿地。公园占地面积约10.08平方公里，目前开放区域3.46平方公里。环园游步道长约8公里，步行一圈需3.5个小时以上。 </p>
        <p>西溪始于汉晋，发展于唐宋，兴盛于明清，衰落于民国，再兴于现代。杭州历史上有西湖、西溪、西泠并称三西之说。 </p>
        <p>西溪是国内唯一集城市湿地、农耕湿地和文化湿地于一体的罕见湿地，也是全国首个国家湿地公园。 </p>
        <p>西溪湿地蕴涵了梵、隐、俗、闲、野五大主题文化要素，分区特征为南隐、北俗、东闹、西静。西溪文化的精髓是一园五地：洪园、越......塘江，是中国最大的宋文化主题公园，由杭州世界城宋城置业有限公司投资兴建。宋代（公元960至1279年）是中国封建社会发展成熟的朝代，其经济、科技、文化的发展在当时居世界领先地位</p>
    </div>
</div>
